.table{
    width: 100%;
}

.table_column{
    background-color: #753486;
    color: white;

}



.table_column_index{
    padding: 12px 16px;
    font-size: 18px;
    text-align: start;
}
.table_column_index:hover{
    background-color: #640a80;
    cursor: pointer;

}